@charset "utf-8";

@import "~normalize.css/normalize.css";
@import "~system-font-css/system-font.css";
@import "~rfs/scss/rfs";

html {
  font-family: system-ui;
  font-size: 18px;
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  font-size: 1rem;
  background: rgb(255, 255, 255);
  color: rgb(50, 47, 56);
}

progress {
  appearance: none;
  display: block;
  border: 0;
}
